{% extends 'base.html.twig' %}



{% block body %}

    <table>
    {% for product in products %}
        <tr>
            <td>
                {{ product.id }}
            </td>
            <td>
                {{ product.title }}
            </td>
            <td>
                {{ product.category.name }}
            </td>
            <td>
                {% for shop in product.shops %}
                    {{ shop.address }} :: //
                {% endfor %}
            </td>
        </tr>
    {% endfor %}
    </table>
{% endblock %}
