{% extends 'base.html.twig' %}



{% block body %}

    <table>
        <tr>
            <td>
                {{ product.id }}
            </td>
            <td>
                {{ product.title }}
            </td>
        </tr>
    </table>
{% endblock %}
